.text {
	/* margin: auto; */
	color: red;
	/* align-content: center; */
	text-align: center;
}

.custom {
	background: url(../img/pepepls.gif);
	background-repeat: repeat;
	background-size: 50px 50px;
	margin: auto;
}

img.bg {
  /* Set rules to fill background */
  min-height: 50%;
  min-width: 100px;

  /* Set up proportionate scaling */
  width: 50%%;
  height: auto;

  background-repeat: repeat;
}

@media screen and (max-width: 100px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
